#box1{
	border:10px inset black;
	width:200px
	height:100px;
	padding:10px;
	margin:30px;
	border:1px solid red;
	background-color:papayawhip
}
#box1:hover{
	border:10px inset red;
}
#box1:active{
	border:10px inset green;
}
#box2{
	width:100px;
	height:50px;
	border-style:solid;
	border-width:1px;
	border-top-color:red;
	border-left-color:red;
	border-bottom-color:blue;
	border-right-color:blue;
}
#box2:active{
	border-style:solid;
	border-width:1px;
	border-top-color:blue;
	border-left-color:blue;
	border-bottom-color:red;
	border-right-color:red;
}

